.contenedor {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto 30px;
    grid-template-areas:
      "earthquakes-header"
      "content"
      "footer";
    transition: all 0.3s ease;
}
h3,h4 {
    color: #667F00;
}
.content {
    display: flex;
    justify-content: center;
}
.content div {
    margin:120px 0 20px 40px;
}
.side_bar{
    list-style: none;
}
.side_bar li {
    border: 1px solid #ccc;
    padding: 10px 60px;
}
.side_bar li:hover {
    background: #cccccc;
    color: #ffffff;
}
.imagenes {
    
    height: 200px;
}
.summary {
    display: grid; grid-template-columns: 40% 55%; width: 600px; grid-gap: 20px;
}
.summary ul {
    list-style: none;
}
.summary ul li div {

    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 5px;
}
.summary ul li div span{
    background: #ccc;
    text-align: center;
}
td {
    text-align: center;
    padding:20px;
    background: #ccc;
}
.activated {
    background: #667F00;
    color: #ffffff;
}
.card_items {
    clear: both;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.contents {
    background: #cccccc;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-gap: 20px;
    overflow: hidden;
}
.banner {
    border:1.5px solid #000000;
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
}
